{% extends 'layout.twig' %}

{% block content %}

    <h1>{{ title }}</h1>
    <form action="{{ action }}" method="POST"  >
        <h3><b>{{ title }}</b><br></h3>

        <input type="text" name="name" placeholder="Имя"  class="inputForm"><Br>
        <input type="text" name="mail" placeholder="почта" class="inputForm"><Br>
        <textarea name="description" placeholder="Какой у вас вопрос" class="inputForm"> </textarea><Br>
        <input type="submit" name="отправить" class="inputForm">

    </form><br>

{% endblock %}